<!--Desktop navigation-->
<div class="navigation__desktop">
  <nav>
    <img src="../../assets/img/logo.png">
    <div class="navigation__desktop--pages">
      <a routerLink="/profiles">Users</a>
    </div>
    <div class="navigation__desktop--utilities">
      <div class="navigation__desktop--register">
        <a routerLink="/register">Register</a>
      </div>
      <div class="navigation__desktop--login">
        <a routerLink="/register">Login</a>
      </div>
    </div>
  </nav>
</div>

<!--Mobile navigation-->
<div class="navigation__mobile">
  <nav>
    <img src="../../assets/img/logo.png">
  </nav>
  <div class="navigation_mobile--menu-options">
    <ul>
      <li>
        <div>
          <a routerLink="/register">
            <img src="../../assets/img/user_logo.png" alt="user logo">
          </a>
        </div>
      </li>
      <li>
        <div>
          <a routerLink="/profiles">
              <img src="../../assets/img/user_logo.png" alt="user logo">
          </a>
        </div>
      </li>
      <li>
        <div>
          <a routerLink="/register">
              <img src="../../assets/img/user_logo.png" alt="user logo">
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="navigation__mobile--menu">
    <img src="../../assets/img/burger_menu_icon.png">
  </div>
</div>
