<div class="users-profiles--profile-card">
  <img *ngIf="!!setUser.profilePicture else defaultProfilePic" class="users-profiles--img" [src]="setUser.profilePicture"/>
  <ng-template #defaultProfilePic>
    <img class="users-profiles--img" src="../assets/img/defaultProfilePic.jpg"/>
  </ng-template>
  <h2 class="users-profiles--user-name">{{setUser.name}}</h2>
  <p>Email: {{setUser.email}}</p>
  <p>{{setUser.city}}</p>
  <button class="users-profiles--addFirndBtn" (click)="addNewFriend()">Add friend</button>
</div>
